html, body {
	height: 101%;
	min-height: 101%;
	-ms-overflow-style: scrollbar;
}

#dashboardsDiv {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.white-background {
	background-color: #fff;
}

.iz-dash-background {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 0;
	background-color: #1c8fd6;
	/*background: url("../images/spectrum.jpg") no-repeat 0px 0px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}

#mainContentDiv {
}

#dashboardBodyContainer {
	position: relative;
	overflow: hidden;
}

.iz-dash-body-container {
	margin: 5px auto;
	width: 100%;
}

@media (min-width: 1920px) {
	.iz-dash-body-container {
		margin: 10px auto;
	}
}

/**************************************************************************************/
/* Toolbar */
/**************************************************************************************/

.iz-dash-navbar {
	max-height: 51px;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);
}

.left-transition {
	-moz-transition: left 0.2s ease;
	-o-transition: left 0.2s ease;
	-webkit-transition: left 0.2s ease;
	transition: left 0.2s ease;
}

.iz-dash-collapsed-toolbtn-panel {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -200px;
}

	.iz-dash-collapsed-toolbtn-panel.opened {
		left: 0;
	}

.iz-dash-toolbtn-panel {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: -300px;
	background-color: #666;
	-moz-box-shadow: 0px 2px 4px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.5);
	-o-box-shadow: 0px 2px 4px rgba(0,0,0,.5);
	box-shadow: 0px 2px 4px rgba(0,0,0,.5);
}

	.iz-dash-toolbtn-panel.opened {
		left: -1px;
	}

	.iz-dash-toolbtn-panel > li > a {
		padding-top: 4px;
		padding-bottom: 4px;
		color: #ddd !important;
	}

		.iz-dash-toolbtn-panel > li > a:hover {
			color: #fff !important;
		}

/* color preview */

.iz-dash-color-preview-container {
	margin: 10px;
	text-align: left;
}

.iz-dash-color-preview {
	display: inline-block;
	width: 24px;
	height: 24px;
}

/* hue switcher */

.iz-dash-switcher-label {
	display: inline-block;
	height: 24px;
	line-height: 26px;
	font-size: 16px;
	position: relative;
	top: -7px;
}

.iz-dash-switcher {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 24px;
	-ms-border-radius: 12px;
	border-radius: 3px;
	background-color: #AB0000;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 0 0 3px 2px rgba(0,0,0,0.2);
	box-shadow: inset 0 0 3px 2px rgba(0,0,0,0.2);
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-ms-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
	overflow: hidden;
	cursor: pointer;
}

	.iz-dash-switcher.on {
		background-color: #62c462;
	}

	.iz-dash-switcher > .iz-dash-switcher-text-off,
	.iz-dash-switcher > .iz-dash-switcher-text-on {
		position: absolute;
		line-height: 22px;
		text-align: center;
		width: 28px;
		font-size: 16px;
		font-weight: bold;
		text-shadow: 0 0 3px rgba(0,0,0,0.5);
		color: #ddd;
		-webkit-transition: left 0.5s ease;
		-moz-transition: left 0.5s ease;
		-ms-transition: left 0.5s ease;
		-o-transition: left 0.5s ease;
		transition: left 0.5s ease;
	}

	.iz-dash-switcher > .iz-dash-switcher-text-on {
		left: 50px;
	}

	.iz-dash-switcher.on > .iz-dash-switcher-text-on {
		left: 20px;
	}

	.iz-dash-switcher > .iz-dash-switcher-text-off {
		left: 0;
	}

	.iz-dash-switcher.on > .iz-dash-switcher-text-off {
		left: -28px;
	}

	.iz-dash-switcher > .iz-dash-switcher-item {
		position: absolute;
		top: 2px;
		left: 28px;
		width: 18px;
		height: 18px;
		-ms-border-radius: 12px;
		border-radius: 3px;
		border: 1px solid #ccc;
		border: 1px solid rgba(0,0,0,0.2);
		background-color: #fff;
		-webkit-transition: left 0.5s ease;
		-moz-transition: left 0.5s ease;
		-ms-transition: left 0.5s ease;
		-o-transition: left 0.5s ease;
		transition: left 0.5s ease;
	}

	.iz-dash-switcher.on > .iz-dash-switcher-item {
		left: 2px;
	}

/**************************************************************************************/
/*TILE*/
/**************************************************************************************/

.iz-dash-tile-description {
	height: 30px;
	font-size: 16px;
	padding: 0 10px;
	color: #999999;
}

.iz-dash-tile-vcentered-container {
	height: 100%;
}

.iz-dash-tile-vcentered-item {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -24px -24px;
	width: 48px;
}

.iz-dash-tile {
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

	.iz-dash-tile > .ui-resizable-n {
		top: 5px;
	}

	.iz-dash-tile > .ui-resizable-e {
		right: 5px;
	}

	.iz-dash-tile > .ui-resizable-w {
		left: 5px;
	}

	.iz-dash-tile > .ui-resizable-s {
		bottom: 5px;
	}

.iz-dash-tile-loading {
	text-align: center;
	padding-top: 20px;
}

.iz-dash-select-report-front-container {
	height: 100%;
	position: relative;
}

.iz-dash-select-report-front-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -32px -20px;
	-ms-border-radius: 18px;
	border-radius: 18px;
	width: 40px;
	color: #fff;
	color: #fff;
	background-color: #666;
}

.iz-dash-select-report-front-btn2 {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px -20px;
	border-radius: 18px;
	width: 40px;
	color: #000;
}

	.iz-dash-select-report-front-btn2:hover {
		color: #000;
	}

.iz-dash-select-report-front-btn:hover {
	color: #fff;
	background-color: #666;
}

/**************************************************************************************/
/*New back tile design*/
/**************************************************************************************/

.iz-dash-tile-fb-main {
	padding: 15px;
	padding-top: 5px;
}

.iz-dash-tile-fb-toolbar {
	position: absolute;
	bottom: 0px;
	height: 70px;
	overflow: hidden;
	left: 0px;
	right: 0px;
	background-color: #006699;
	padding-left: 300px;
}

.iz-dash-tile-fb-label {
	min-width: 80px;
	line-height: 2;
}

.iz-dash-tile-fb-update-btn {
	color: #3C7CA7;
	background-color: #DFDFE1;
	margin-top: 10px;
}

.iz-dash-tile-fb-rcount {
	position: absolute;
	left: 5px;
	top: 5px;
	bottom: 5px;
	width: 75px;
	font-size: 40px;
	color: #006699;
	background-color: #DFDFE1;
	text-align: center;
}

.iz-dash-tile-fb-rcount-label {
	position: absolute;
	left: 80px;
	top: 5px;
	width: 200px;
	font-size: 18px;
	color: #DFDFE1;
	background-color: #006699;
	padding-left: 10px;
}

.iz-dash-tile-fb-rcount-slider {
	width: 200px;
	position: absolute;
	left: 80px;
	top: 30px;
	bottom: 5px;
	background-color: #006699;
	padding-left: 10px;
}

.iz-dash-tile-fb-toolbtn {
	float: right;
	width: 48px;
}

	.iz-dash-tile-fb-toolbtn > a > img {
		width: 36px;
		height: 36px;
		cursor: pointer;
		line-height: 0px;
		margin: 16px 5px;
	}

/**************************************************************************************/
/*Record count*/
/**************************************************************************************/

.iz-dash-tile-btn-container {
	height: 60px;
	margin: 10px;
}

.iz-dash-tile-top-slider {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 60px;
	color: #fff;
}

.iz-dash-tile-top-slider-value {
	font-size: 24px;
	color: #fff;
	text-align: right;
	font-weight: 200;
}

.iz-dash-tile-top-label {
	color: #fff;
	line-height: 60px;
	font-weight: 200;
	padding-left: 20px;
	height: 60px;
	font-size: 18px;
	text-transform: uppercase;
}

.iz-dash-tile-remove-btn-label {
	font-size: 14px;
	color: #fff;
	font-weight: 200;
	text-transform: uppercase;
}

.iz-dash-tile-btn {
	width: 64px;
	height: 64px;
	line-height: 64px;
	color: #999;
}

	.iz-dash-tile-btn:hover {
		color: #999;
	}

	.iz-dash-tile-btn > img {
		max-height: 40px;
		max-width: 40px;
	}

	.iz-dash-tile-btn > .glyphicon {
		font-size: 32px;
	}

.iz-dash-tile-input-record-count {
	border: 0;
	margin-left: 1px;
	margin-top: 1px;
	padding-left: 10px;
	position: absolute;
	width: 130px;
	height: 26px;
}

.iz-dash-tile-select-record-count {
	border: 1px solid #ddd;
	width: 150px;
	height: 28px;
}

.iz-dash-body-overlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.dashboard-grid {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	background-image: linear-gradient(rgba(255,255,255,.3), transparent 2px), linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px), linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
	border-top: 1px solid rgba(255, 255, 255, .3);
	border-left: 1px solid rgba(255, 255, 255, .3);
	border-right: 1px solid rgba(255, 255, 255, .3);
}

.tile-grid-cell {
	outline: 1px solid #fff;
	position: absolute;
	background-color: #666;
	opacity: 0.3;
}

/**************************************************************************************/
/*Flip styles*/
/**************************************************************************************/

.animate-flip {
	height: 100%;
	padding: 5px;
}

	.animate-flip .flippy-front, .animate-flip .flippy-back {
		background-color: #ffffff;
		padding: 5px;
		height: 100%;
		-moz-box-shadow: 0px 2px 4px rgba(0,0,0,.5);
		-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.5);
		-o-box-shadow: 0px 2px 4px rgba(0,0,0,.5);
		box-shadow: 0px 2px 4px rgba(0,0,0,.5);
	}

		.animate-flip .flippy-front:hover, .animate-flip .flippy-back:hover {
			transition: box-shadow .2s, background-color 1s ease;
			-moz-transition: -moz-box-shadow .2s, background-color 1s ease;
			-webkit-transition: -webkit-box-shadow .2s, background-color 1s ease;
			-o-transition: -o-box-shadow .2s, background-color 1s ease;
			background-color: rgba(255,255,255,.3);
			-moz-box-shadow: 0px 2px 8px rgba(0,0,0,.75);
			-webkit-box-shadow: 0px 2px 8px rgba(0,0,0,.75);
			-o-box-shadow: 0px 2px 8px rgba(0,0,0,.75);
			box-shadow: 0px 2px 8px rgba(0,0,0,.75);
		}

.flippy-front {
	display: block;
}

.flippy-back {
	display: none;
}

.flippy-front,
.flippy-back {
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	overflow: auto;
}

.animate-flip .frame {
	position: absolute;
	top: 40px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	margin: 0;
	background-color: #fff;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-khtml-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	overflow: auto;
}

	.animate-flip .frame .report {
		text-align: center;
		min-height: 100%;
	}

/*title*/
.animate-flip .title {
	overflow: hidden;
	background-color: #fff;
	color: #aaa;
	display: block;
	padding: 0 10px;
	text-align: left;
	font-size: 108%;
	cursor: move;
	line-height: 35px;
	height: 35px;
	white-space: nowrap;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	-khtml-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

	.animate-flip .title .title-text,
	.animate-flip .title .title-text a,
	.animate-flip .title .title-text a:hover {
		font-weight: 300;
		font-style: italic;
		color: #aaa;
		text-decoration: none;
	}

		.animate-flip .title .title-text a.db-title-repname,
		.animate-flip .title .title-text a.db-title-repname:hover {
			color: #0d70cd;
		}

/* title buttons */


.iz-dash-tile:hover .title-container {
	display: block;
}

.flip-button {
	opacity: 0;
	-moz-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}

.iz-dash-tile:hover .flip-button {
	opacity: 1;
}

.title-container {
	top: 5px;
	height: 0;
	position: absolute;
	left: 5px;
	right: 5px;
}

.iz-dash-tile:hover .title-container {
	-moz-box-shadow: 0 4px 8px -4px #aaa;
	-webkit-box-shadow: 0 4px 8px -4px #aaa;
	-o-box-shadow: 0 4px 8px -4px #aaa;
	box-shadow: 0 4px 8px -4px #aaa;
}

/*.title-hide {
	-moz-transition: width 0.2s ease;
	-o-transition: width 0.2s ease;
	-webkit-transition: width 0.2s ease;
	transition: width 0.2s ease;
	top: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	background-color: red;
	height: 100%;
	width: 0;
}

.iz-dash-tile:hover .title-hide {
	width: 70px;
}*/

.title-button {
	position: absolute;
	font-size: 14px;
	color: #666;
	background-color: #fff;
	right: -32px;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 32px;
	-moz-transition: right 0.2s ease;
	-o-transition: right 0.2s ease;
	-webkit-transition: right 0.2s ease;
	transition: right 0.2s ease;
}

	.title-button:hover {
		color: #666;
		text-decoration: none;
	}

.iz-dash-tile:hover .title-button.button1 {
	right: 0;
}

.iz-dash-tile:hover .title-button.button2 {
	right: 32px;
}

.title-button > .bar {
	height: 2px;
	border-radius: 1px;
	background-color: #666;
	position: relative;
	display: block;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 3px;
}

	.title-button > .bar:first-child {
		margin-top: 12px;
	}

.title-button.title-button-remove > img {
	margin: 9px auto;
}

.title-button.title-button-confirm-remove {
	right: -120px;
	width: 120px;
}

	.title-button.title-button-confirm-remove > img {
		margin-top: -2px;
	}

	.title-button.title-button-confirm-remove.short {
		right: -32px;
		width: 32px;
	}

.iz-dash-tile:hover .title-button.title-button-confirm-remove {
	right: 120px;
}

	.iz-dash-tile:hover .title-button.title-button-confirm-remove.short {
		right: 32px;
	}

.title-button.title-button-cancel-remove {
	right: -120px;
	width: 120px;
}

	.title-button.title-button-cancel-remove.short {
		right: -32px;
		width: 32px;
	}

.iz-dash-tile:hover .title-button.title-button-cancel-remove {
	right: 0;
}

	.iz-dash-tile:hover .title-button.title-button-cancel-remove.short {
		right: 0;
	}

.title-button.hidden-btn {
	right: -32px !important;
}

.title-button.hidden-confirm-btn {
	right: -120px !important;
}

/**************************************************************************************/
/*Back menu styles*/
/**************************************************************************************/

/*back tile menu*/
.menu-small a, .menu-small span {
	display: block;
	text-align: left;
	text-decoration: none;
	color: #000;
	position: relative;
}

.menu-small span {
	margin-left: 28px;
}

.menu-small a {
	padding: 6px 12px;
	line-height: 16px;
}

	.menu-small a:hover {
		background-color: #eee;
	}

.menu-small img {
	position: absolute;
	margin: 4px 14px;
	left: 0px;
	top: 2px;
}

.menu-small hr {
	margin: 2px 8px 3px 8px;
	border-bottom-color: rgba(0,0,0,.1);
	border-bottom-width: 2px;
}

/**************************************************************************************/
/*Add report modal styles*/
/**************************************************************************************/
#izendaSelectPartModal .modal .modal-body {
	max-height: 620px;
	overflow-y: auto;
}

#izendaSelectPartModal .thumb {
	cursor: pointer;
	position: relative;
	display: inline-block;
	max-width: 170px;
	margin: 14px;
	vertical-align: top;
}

	#izendaSelectPartModal .thumb:hover {
		outline: 8px solid #cddbf6;
		background-color: #cddbf6;
	}

	#izendaSelectPartModal .thumb img {
		width: 170px;
		height: 220px;
		outline: 1px solid #cecece;
		background-color: #fff;
	}

#izendaSelectPartModal .thumb-title {
	color: #000;
	display: inline-block;
	font-size: 14.5px;
	letter-spacing: 0px;
	line-height: 20px;
	padding: 2px 0 0 6px;
	position: relative;
	word-break: break-all;
}

.DashPartHeaderThird {
	display: none;
}

/**************************************************************************************/
/*dashboard navigation toolbar*/
/**************************************************************************************/
.iz-dash-menu-item > a > span.glyphicon {
	color: #666;
}

.iz-dash-menu-catergory {
	background-color: #fff;
}

	.iz-dash-menu-catergory > a:hover {
		background-color: #f3f3f3;
	}

.iz-dash-navigation-menu-item {
	padding: 5px 25px;
}

	.iz-dash-navigation-menu-item:hover {
		background-color: #f3f3f3;
	}

	.iz-dash-navigation-menu-item > a {
		height: 100%;
		color: #666;
	}

		.iz-dash-navigation-menu-item > a:hover {
			text-decoration: none;
			color: #666;
		}

.iz-dash-menu-item {
	top: 0;
	left: 0;
	border-bottom: 5px solid transparent;
	-webkit-transition: left 0.5s ease;
	-moz-transition: left 0.5s ease;
	-ms-transition: left 0.5s ease;
	-o-transition: left 0.5s ease;
	transition: left 0.5s ease;
}

.iz-dash-menu-item:hover,
	.iz-dash-menu-item:focus {
		border-bottom: 5px solid #cee5fb;
	}

.iz-dash-filters {
	background-color: #fff;
}

.iz-dash-filter-header {
	margin-left: 10px;
	padding: 10px;
}

#dashboardUpdateFiltersBtn {
	margin: 10px;
}

.iz-dash-filter-items {
	margin: 10px;
}

.iz-dash-toggle-filter {
	margin-left: 5px;
	font-size: 20px;
	text-decoration: none;
	color: #000;
}

	.iz-dash-toggle-filter > span.glyphicon {
		font-size: 14px;
		margin-left: 5px;
	}

	.iz-dash-toggle-filter:hover,
	.iz-dash-toggle-filter:focus {
		text-decoration: none;
		color: #0d70cd;
	}

.iz-zero-chart-results {
	text-align: center;
	font-size: larger;
	color: #666;
}

/* resizable fix */
.iz-ui-resizable-w {
	width: 5px;
	left: 5px;
}

.iz-ui-resizable-e {
	width: 5px;
	right: 5px;
}

.iz-ui-resizable-n {
	height: 5px;
	top: 5px;
}

.iz-ui-resizable-s {
	height: 5px;
	bottom: 5px;
}

.iz-ui-icon-gripsmall-diagonal-se {
	opacity: 0;
}

@media (min-width: 1920px) {
	.iz-ui-icon-gripsmall-diagonal-se {
		bottom: 7px;
		right: 7px;
	}
}

/*.iz-dash-tile:hover .iz-ui-icon-gripsmall-diagonal-se {
  visibility: visible;
}*/
