.dd-tile-placeholder {
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}

.animate-flip {
	position: relative;
	margin: 2px;
  height: 100%;
}

.animate-flip .title-container {
    background-color: #fff;
    
    -moz-border-radius:     3px 3px 0px 0px;
    -webkit-border-radius:  3px 3px 0px 0px;
    -khtml-border-radius:   3px 3px 0px 0px;
    border-radius:          3px 3px 0px 0px;
}

.animate-flip .title {
    border-bottom: 2px solid rgba(0,0,0,.1);
    background-color: #fff;
    color: #aaa;
    display: block;
    font-size: 108%;
    line-height: 18px;
    margin: 0px 8px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-top: 8px;
    text-align: left;
    cursor: move;
    height: 18px;
    white-space: nowrap;
}

.animate-flip .title .title-text, 
.animate-flip .title .title-text a, 
.animate-flip .title .title-text a:hover
{
    padding: 0px 5px 0px 0px;
    font-weight: bold;
    color: #aaa;
    text-decoration: none;
}
.animate-flip .title .title-text a.db-title-repname, 
.animate-flip .title .title-text a.db-title-repname:hover {
    color: #0d70cd;
}

.animate-flip .title :first-child {
	padding-right: 60px;
}

.animate-flip .flippy-front:hover .title,
.animate-flip .flippy-back:hover .title,
.animate-flip .title:hover,
.animate-flip .title div:hover {
    background-color: #fff;
}

.animate-flip .flippy-front,
.animate-flip .flippy-back {
  height: 100%;
	background-color: rgba(255,255,255,.3);
	padding: 5px;
}
.animate-flip .flippy-front:hover,
.animate-flip .flippy-back:hover {
	transition: box-shadow .2s ease;
	-moz-transition: -moz-box-shadow .2s ease;
	-webkit-transition: -webkit-box-shadow .2s ease;
	-o-transition: -o-box-shadow .2s ease;

	-moz-box-shadow: 	0px 2px 8px rgba(0,0,0,.75);
	-webkit-box-shadow: 0px 2px 8px rgba(0,0,0,.75);
	-o-box-shadow: 		0px 2px 8px rgba(0,0,0,.75);
	box-shadow: 		0px 2px 8px rgba(0,0,0,.75);
}

.animate-flip .flippy-front,
.animate-flip .flippy-back {
	-moz-box-shadow: 	0px 2px 4px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.5);
	-o-box-shadow: 		0px 2px 4px rgba(0,0,0,.5);
	box-shadow:         0px 2px 4px rgba(0,0,0,.5);
}

.flippy-front {
	position: relative;
	display: block;
}
.flippy-back {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.flippy-front,
.flippy-back {
	-moz-border-radius:     5px;
    -webkit-border-radius:  5px;
    -khtml-border-radius:   5px;
    border-radius:          5px;
}

.animate-flip .frame {
    background: #fff;  
    -moz-border-radius:     0px 0px 3px 3px;
    -webkit-border-radius:  0px 0px 3px 3px;
    -khtml-border-radius:   0px 0px 3px 3px;
    border-radius:          0px 0px 3px 3px;
}

.animate-flip .flippy-back .frame {
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	min-height: 14em;
	width: 100%;
}

.animate-flip .frame .report {
	height: 100%;
	overflow: auto;
}

.animate-flip img {
	vertical-align: middle;
	margin: 12px 0;
}

.flip-trigger-remove, .flip-trigger, .flip-trigger-view {
	cursor: pointer;
	width: 24px;
	height: 24px;
	position: absolute;
	z-index: 1002;
	top: -1px;
	
	margin: 12px;
	margin-right:0px;
}

.flip-trigger:hover, .flip-trigger-remove:hover, .flip-trigger-view:hover {
	opacity: .75;
}

.flip-trigger {
	right: 12px;
}

.flippy-front .flip-trigger-view {
	right: 38px;
	display: none;
	background: url("../images/view-18-white.png") 3px 3px no-repeat;
}

.flippy-back .flip-trigger-view {
	display: none;
}

.flippy-front .flip-trigger-remove 
{
    display: none;
	background: url("../images/remove-18-white.png") 3px 3px no-repeat;
}

.flippy-back .flip-trigger-remove {
	display: none;
}

.flippy-front .flip-trigger {
	right: 12px;
	background: url("../images/fields.png") 3px 3px no-repeat;
}
.flippy-back .flip-trigger {
	right: 12px;
	background: url("../images/turn-18.png") 3px 3px no-repeat;
}