body {
	display:none;
}
body.hidden-body {
	visibility: hidden;
}
body.visible-body {
	visibility: visible;
}
#jpreOverlay {
	background-color: #fff;
}

#jpreSlide{}

#jpreLoader{
	width:100%;
	height:2px;
}
#jpreBar {
	background-color:#0d70cd;
}

#jprePercentage {}

#jpreButton{}